* {
    box-sizing: border-box;
    outline: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

table {
    display: inline;
    margin: auto;
    border: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#contacts-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#contacts-header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#header-buttons {
    display: flex;
    float: right;
    padding-right: 20px;
}

#header-button {
    width: 30px;
    height: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 30px;
}

#call-autocomplete {
    position: absolute;
    display: none;
    min-height: 60px;
    width: 100%;
}

#call-number {
    height: 40px;
    font-size: 32px;
    margin: 0;
}

#call-status {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    margin: 0;
}

#keypad * {
    text-align: center;
    user-select: none;
}

#keypad h1 {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

#keypad span {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    font-size: 0.75em;
    pointer-events: none;
}

#call-send-button {
    background-color: #66aa66 !important;
    border-radius: 25px;
}

#call-send-button:active {
    background-color: #8ed38e !important;
}

#call-settings-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background-image: url(res/gear.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    /* invert color */
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
}

#call-settings {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0);
    padding: 10px;
}

#call-settings div {
    padding: 10px;
    width: 100%;
}

#contact-form {
    display: none;
    flex-direction: column;
    position: absolute;
    flex-grow: 1;
    top: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background-color: rgba(0, 0, 0);
    padding: 10px;
}

#contact-form-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#contact-form-fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#contact-form-fields input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #333;
    color: white;
}

#contact-form-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.contact-form-button {
    padding: 10px;
    border-radius: 25px;
    background-color: #66aa66;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
    width: 80px;
}

.contact-form-button:active {
    background-color: #8ed38e;
}

#contact-form-cancel {
    padding: 10px;
    border-radius: 25px;
    background-color: #aa6666;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form-cancel:active {
    background-color: #d38e8e;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#keypad div {
    padding-top: 20px;
    width: 80px;
    height: 80px;
    margin: 3px;
    border-radius: 40px;
    background-color: unset;
    transition: background-color 0.3s;
    cursor: pointer;
    flex-grow: 1;
}

#keypad div:active {
    background-color: #333;
    transition: none;
}

#backspace-button {
    background-image: url(res/backspace.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
}

.tab {
    position: relative;
    flex-grow: 1;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
}

.tab-active {
    display: flex;
}

#tab-buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0;
    min-height: 50px;
    user-select: none;
    width: 100%;
    max-width: 400px;
}

.tab-button {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

.tab-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

#contacts-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-button {
    border-radius: 25px;
    background-color: #444444;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    user-select: none;
    transition: background-color 0.3s;
}

.contact-button:active {
    background-color: #666666;
}