[submodule "submodules/adetailer"]
	path = submodules/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "submodules/moondream"]
	path = submodules/moondream
	url = https://github.com/vikhyat/moondream.git
[submodule "submodules/InstantID"]
	path = submodules/InstantID
	url = https://github.com/InstantID/InstantID
[submodule "submodules/frame_interpolation"]
	path = submodules/frame_interpolation
	url = https://github.com/google-research/frame-interpolation.git
[submodule "submodules/metavoice"]
	path = submodules/metavoice
	url = https://github.com/metavoiceio/metavoice-src.git
[submodule "submodules/LGM"]
	path = submodules/LGM
	url = https://github.com/3DTopia/LGM.git
[submodule "submodules/TripoSR"]
	path = submodules/TripoSR
	url = https://github.com/VAST-AI-Research/TripoSR
[submodule "submodules/audiocraft"]
	path = submodules/audiocraft
	url = https://github.com/facebookresearch/audiocraft.git
[submodule "submodules/hyper_tile"]
	path = submodules/hyper_tile
	url = https://github.com/tfernd/HyperTile.git
[submodule "submodules/TTS"]
	path = submodules/TTS
	url = https://github.com/coqui-ai/TTS.git
[submodule "submodules/HiDiffusion"]
	path = submodules/HiDiffusion
	url = https://github.com/megvii-research/HiDiffusion.git
[submodule "submodules/IC_Light"]
	path = submodules/IC_Light
	url = https://github.com/lllyasviel/IC-Light.git
[submodule "submodules/LivePortrait"]
	path = submodules/LivePortrait
	url = https://github.com/KwaiVGI/LivePortrait.git
[submodule "submodules/vid2densepose"]
	path = submodules/vid2densepose
	url = https://github.com/Flode-Labs/vid2densepose.git
[submodule "submodules/detectron2"]
	path = submodules/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "submodules/PhotoMaker"]
	path = submodules/PhotoMaker
	url = https://github.com/TencentARC/PhotoMaker.git
[submodule "submodules/sf3d"]
	path = submodules/sf3d
	url = https://github.com/Stability-AI/stable-fast-3d.git
[submodule "submodules/Pano360"]
	path = submodules/Pano360
	url = https://huggingface.co/spaces/gokaygokay/360PanoImage.git
[submodule "submodules/AuraSR"]
	path = submodules/AuraSR
	url = https://github.com/fal-ai/aura-sr.git
[submodule "submodules/optimum_quanto"]
	path = submodules/optimum_quanto
	url = https://github.com/huggingface/optimum-quanto.git
