[submodule "submodules/adetailer"]
	path = submodules/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "submodules/moondream"]
	path = submodules/moondream
	url = https://github.com/vikhyat/moondream.git
[submodule "submodules/HyperTile"]
	path = submodules/HyperTile
	url = https://github.com/tfernd/HyperTile.git
[submodule "submodules/InstantID"]
	path = submodules/InstantID
	url = https://github.com/InstantID/InstantID
[submodule "submodules/frame_interpolation"]
	path = submodules/frame_interpolation
	url = https://github.com/google-research/frame-interpolation.git
