[submodule "submodules/adetailer"]
	path = submodules/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "submodules/moondream"]
	path = submodules/moondream
	url = https://github.com/vikhyat/moondream.git
[submodule "submodules/InstantID"]
	path = submodules/InstantID
	url = https://github.com/InstantID/InstantID
[submodule "submodules/frame_interpolation"]
	path = submodules/frame_interpolation
	url = https://github.com/google-research/frame-interpolation.git
[submodule "submodules/TTS"]
	path = submodules/TTS
	url = https://github.com/coqui-ai/TTS.git
[submodule "submodules/metavoice"]
	path = submodules/metavoice
	url = https://github.com/metavoiceio/metavoice-src.git
[submodule "submodules/LGM"]
	path = submodules/LGM
	url = https://github.com/3DTopia/LGM.git
[submodule "submodules/TripoSR"]
	path = submodules/TripoSR
	url = https://github.com/VAST-AI-Research/TripoSR
[submodule "submodules/audiocraft"]
	path = submodules/audiocraft
	url = https://github.com/facebookresearch/audiocraft.git
