accelerate
xformers
audiocraft
TTS
edge-tts
openai-whisper
huggingface_hub
transformers
diffusers
omegaconf
gradio
fastapi
uvicorn
numpy
scipy
timm
pygame
emoji
rich
nudenet
optimum
imageio[ffmpeg]
insightface
ip_adapter
trimesh
mediapipe
civitdl
torchsde
moviepy
hyper_tile @ git+https://github.com/tfernd/HyperTile.git
# RigNet
open3d
torch_geometric
