accelerate
xformers
audiocraft
TTS
edge-tts
huggingface_hub
transformers
diffusers
omegaconf
gradio
fastapi
uvicorn
numpy
pygame
emoji
rich
nudenet
optimum
imageio[ffmpeg]
trimesh
mediapipe
civitdl
torchsde
hyper_tile @ git+https://github.com/tfernd/HyperTile.git
# RigNet
open3d
torch_geometric
