torch @ https://download.pytorch.org/whl/nightly/cu121/torch-2.3.0.dev20231225+cu121-cp310-cp310-win_amd64.whl
torchaudio @ https://download.pytorch.org/whl/nightly/cu121/torch-2.3.0.dev20231225+cu121-cp310-cp310-win_amd64.whl
torchvision @ https://download.pytorch.org/whl/nightly/cu121/torch-2.3.0.dev20231225+cu121-cp310-cp310-win_amd64.whl
