@font-face {
    font-family: clock;
    src: url(../fonts/5mal6Lampen.ttf);
}

.audio-clock {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    font-family: clock;
    padding: 10px;
    box-sizing: border-box;
    background-color: #45455f;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(255, 255, 255, 0.1) inset, -1px -1px 1px rgba(0, 0, 0, 0.2) inset;
}

.audio-clock-bpm {
    margin-left: 10px;
    width: 80px;
    font-family: clock;
    color: #c3c6f3;
}

.audio-clock input {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #222244;
    color: #c7cfdf;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}

.audio-clock button {
    width: 40px;
    height: 30px;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    background-position-y: 50%;
    margin-top: 5px;
}

.audio-clock-play-pause {
    background-image: url("../icons/play_pause.svg");
}

.audio-clock-play-pause.active {
    background-color: #ffee88;
}

.audio-clock-stop {
    background-image: url("../icons/stop.svg");
}

.audio-clock-time {
    margin-left: 10px;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    background-color: #222244;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    user-select: none;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: clock;
    color: #c7cfdf;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(255, 255, 255, 0.1);
}