@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #363340;
}

.studio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.window-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    flex-grow: 1;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.window-snap-panels-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.window-snap-panel {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.window-snap-row.bottom-row .window-snap-panel {
    max-width: 100%;
}

.window-snap-panel.open {
    flex-shrink: 0;
}

.window-snap-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.window-snap-row.bottom-row {
    flex-grow: 0;
}

.window-container-workspace {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    flex-shrink: 0;
}

.draggable-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #444466;
    color: #ccc;
    border-radius: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 2px 2px 2px rgba(255, 255, 255, 0.1) inset, -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
    min-width: 150px;
    min-height: 100px;
    z-index: 0;
}

.draggable-window.snap {
    position: relative;
    flex-grow: 1;
    top: 0 !important;
    left: 0 !important;
}

.window-content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    margin: 6px;
    overflow: hidden;
}

.window-titlebar {
    user-select: none;
    background-color: #443344;
    padding: 6px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1) inset;
}

.draggable-window.active .window-titlebar {
    background-color: #58445c;
}

.window-titlebar-title {
    font-size: 16px;
}

.draggable-window.snap .window-titlebar-title {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.draggable-window.snap {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.window-close-button {
    position: absolute;
    right: 6px;
    top: 8px;
    width: 18px;
    height: 18px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rosybrown;
    border: 0;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3) inset;
}

.draggable-window.snap .window-close-button {
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    padding: 3px;
}

.pattern-track {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.pattern-track-container {
    position: relative;
    overflow-y: auto;
}

.pattern-track-panel {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: hidden;
    background-color: #444466;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) inset;
    padding: 8px;
    width: 100px;
    user-select: none;
    cursor: pointer;
}

.pattern-track-panel.selected {
    background-color: #3e3e7e;
}

.pattern-track-pattern {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    background-color: #333;
    width: 100%;
    height: 100%;
}

.pattern-track-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.pattern-track-indicator {
    width: 16px;
    background-color: #333;
    border-right: 1px solid #000;
    flex-shrink: 0;
}

.pattern-track-indicator.active {
    background-color: rgba(255, 250, 200, 0.5);
}

.audio-cursor {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(255, 240, 170, 0.6);
    width: 1px;
    height: 100%;
    pointer-events: none;
    margin-left: 100px;
}

.scroll-panel-content {
    position: relative;
    transition: transform 0.1s linear;
}

.project-ui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.mixer-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: 50px;
    overflow: hidden;
    border-radius: 3px;
    margin: 2px;
    flex-shrink: 0;
    user-select: none;
}

.mixer-channel input[type="range"] {
    margin: 0;
    padding: 0;
    background-color: #222244;
    color: white;
    border: none;
    outline: none;
    transform: rotate(270deg);
    width: 100px;
    padding-top: 100px;
}

.mixer-channel span {
    width: 100%;
    font-size: smaller;
    background-color: #222244;
    text-align: center;
}

.playlist-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-source-container {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.playlist-source-bucket {
    flex-grow: 1;
    background-color: #333;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) inset;
    padding: 3px;
    min-width: 100px;
}

.playlist {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-source-item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    background-color: #444466;
    margin: 3px;
    padding: 3px;
    border-radius: 4px;
}

.playlist-source-item.selected {
    background-color: #3e3e7e;
}

.playlist-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.playlist-tracks {
    width: 100px;
}

.playlist-track {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    height: 60px;
    max-height: 80px;
    overflow: hidden;
    user-select: none;
}

.playlist-track-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    padding: 4px;
    width: 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-track-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-track-timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    background-color: #333;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) inset;
}

.track-button {
    /* this includes the mute, solo, and edit buttons */
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    line-height: 18px;
    font-size: smaller;
}

.track-mute-button {
    background-color: #382626;
}

.track-mute-button.active {
    background-color: #b17171;
}

.track-solo-button {
    background-color: #22303d;
}

.track-solo-button.active {
    background-color: #4c7296;
}

.track-edit-button {
    background-color: #2b4150;
    font-style: italic;
}

.track-edit-button.active {
    background-color: #4c7296;
}

.playlist-track-item {
    position: absolute;
    height: 100%;
    background-color: #525268;
    color: white;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 100;
    padding-top: 5px;
    padding-bottom: 5px;
}

.context-menu-item {
    position: relative;
    cursor: pointer;
    font: 14px Arial;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.context-menu-item:hover {
    background-color: #555;
}

.context-menu-submenu {
    display: none;
    position: absolute;
    top: -5px;
    left: 100%;
    z-index: 100;
}

.context-menu-item:hover .context-menu-submenu {
    display: block;
}