@font-face {
    font-family: clock;
    src: url(../fonts/5mal6Lampen.ttf);
}

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #363340;
}

.studio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-ui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.audio-cursor {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(255, 240, 170, 0.6);
    width: 1px;
    height: 100%;
    pointer-events: none;
    margin-left: 100px;
}

.scroll-panel-content {
    position: relative;
    transition: transform 0.1s linear;
}

.draggable-number {
    display: inline-block;
    background-color: #222244;
    color: #bbffff;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    cursor: ns-resize;
    width: 24px;
    height: 24px;
    line-height: 20px;
    font-family: clock;
    font-size: 16px;
    align-self: center;
    text-align: center;
}

.knob {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    color: beige;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 60px;
    height: 60px;
    user-select: none;
    overflow: hidden;
    border-radius: 5%;
}


.knob .label {
    font-size: smaller;
    color: #42e2ee;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.knob-handle {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #bbffff;
    border-radius: 50%;
    transform: rotate(0deg);
}

.knob-indicator {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #42e2ee;
    top: 40%;
}

.treeview {
    flex-grow: 1;
    width: 150px;
    overflow: auto;
}

.treeview-item {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    position: relative;
    cursor: default;
    align-items: center;
    user-select: none;
    font-size: small;
    color: #ccc;
}

.treeview-item-content {
    display: flex;
    flex-grow: 1;
}

.treeview-expander {
    width: 14px;
    height: 14px;
    margin: 2px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    padding: 0;
}

.treeview-item-label {
    pointer-events: none;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.treeview-children {
    display: none;
    flex-direction: column;
    padding-left: 16px;
    flex-basis: 100%;
}

.treeview #root>.treeview-item-content {
    display: none;
}

.treeview #root>.treeview-children {
    padding-left: 0;
}

.treeview-item.expanded>.treeview-children {
    display: flex;
}

.treeview-item.folder {
    color: #abaac9;
}

.treeview-item.special>.treeview-item-content {
    font-weight: 600;
}

.treeview-item:not(.folder) .treeview-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    flex-shrink: 0;
    background-image: url(../icons/file.svg);
    background-size: contain;
    background-position: center;
}

.treeview.dragging .treeview-item.folder:not(.selected)>.treeview-item-content:hover .treeview-item-label {
    outline: 1px solid #ffffbb !important;
}

.treeview-item.selected>.treeview-item-content .treeview-item-label {
    background-color: rgba(255, 255, 255, 0.1);
}

.treeview.active .treeview-item.selected>.treeview-item-content .treeview-item-label {
    background-color: rgba(255, 255, 255, 0.2);
}