:root {
    --background-color: #363340;
    --window-background-color: #45455f;
    --window-titlebar-color: #403749;
    --window-titlebar-active-color: #4e445c;
    --grid-item: #61519c;
    --grid-item-selected: #7264a3;
    --cursor-color: rgba(255, 240, 170, 0.6);
    --label-color: #42e2ee;
    --number-background: #222244;
    --knob-color: #bbffff;
    --out-of-bounds: #303030;
    --control-background: #333;
    --highlight-outline: #ffffbb;
    --text-color2: #abaac9;
    --glow-color: #bbaaff44;
}

@font-face {
    font-family: clock;
    src: url(../fonts/5mal6Lampen.ttf);
}

@font-face {
    font-family: ui-label;
    src: url(../fonts/ZtRavigsfenRegular-mL51v.otf);    
}

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

.studio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-ui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.audio-cursor {
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--cursor-color);
    width: 1px;
    height: 100%;
    pointer-events: none;
    margin-left: 100px;
}

.scroll-panel-content {
    position: relative;
    transition: transform 0.1s linear;
}

.draggable-number {
    display: inline-block;
    background-color: var(--number-background);
    color: #c3c6f3;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    cursor: ns-resize;
    width: 24px;
    height: 24px;
    line-height: 20px;
    font-family: clock;
    font-size: 16px;
    align-self: center;
    text-align: center;
}

.knob {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    color: beige;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 60px;
    height: 60px;
    user-select: none;
    overflow: hidden;
    border-radius: 5%;
}


.knob .label {
    font-size: smaller;
    color: var(--label-color);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.knob-handle {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: var(--knob-color);
    border-radius: 50%;
    transform: rotate(0deg);
}

.knob-indicator {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: var(--label-color);
    top: 40%;
}

.image-preview {
    background-color: var(--out-of-bounds);
    flex-grow: 1;
}

.image-preview img {
    display: block;
    margin: auto;
}

.wave-editor {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.wave-editor-canvas-container {
    position: relative;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #282828;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.wave-editor-canvas-container canvas {
    height: 100%;
    opacity: 0.5;
    background-color: var(--control-background);    
}

.wave-editor-selection {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #00728ccf;
    mix-blend-mode: color-dodge;
}

.wave-editor-buttons {
    display: flex;
    justify-content: space-between;
}

.wave-editor-times label {
    display: inline;
    vertical-align: bottom;
    line-height: 20px;
    font-family: ui-label;
}

.wave-editor-times>label {
    margin-left: 8px;
    margin-right: 4px;
    font-family: ui-label;
    font-size: large;    
}

.wave-editor-times {
    margin-top: 4px;    
}

.wave-editor-times .draggable-number {
    height: 19px;
    line-height: 15px;
}

.time-position-input {
    display: inline;
    white-space: nowrap;
}

.time-position-input .draggable-number:last-of-type {
    width: 35px;
}

.treeview {
    flex-grow: 1;
    width: 150px;
    overflow: auto;
}

.treeview-item {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    position: relative;
    cursor: default;
    align-items: center;
    user-select: none;
    font-size: small;
    color: #ccc;
}

.treeview-item-content {
    display: flex;
    flex-grow: 1;
}

.treeview-expander {
    width: 14px;
    height: 14px;
    margin: 2px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    padding: 0;
}

.treeview-item-label {
    pointer-events: none;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.treeview-children {
    display: none;
    flex-direction: column;
    padding-left: 16px;
    flex-basis: 100%;
}

.treeview #root>.treeview-item-content {
    display: none;
}

.treeview #root>.treeview-children {
    padding-left: 0;
}

.treeview-item.expanded>.treeview-children {
    display: flex;
}

.treeview-item.folder {
    color: var(--text-color2);
}

.treeview-item.special>.treeview-item-content {
    font-weight: 600;
}

.treeview-item:not(.folder) .treeview-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    flex-shrink: 0;
    background-image: url(../icons/file.svg);
    background-size: contain;
    background-position: center;
}

.treeview.dragging .treeview-item.folder:not(.selected)>.treeview-item-content:hover .treeview-item-label {
    outline: 1px solid var(--highlight-outline) !important;
}

.treeview-item.selected>.treeview-item-content .treeview-item-label {
    background-color: rgba(192, 192, 255, 0.1);
}

.treeview.active .treeview-item.selected>.treeview-item-content .treeview-item-label {
    background-color: rgba(192, 192, 255, 0.2);
}