# put anything here that needs other requirements to build wheels
--extra-index-url https://download.pytorch.org/whl/nightly/cu121

# git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
# git+https://github.com/tatsy/torchmcubes.git
# git+https://github.com/facebookresearch/detectron2
# git+https://github.com/facebookresearch/detectron2@main#subdirectory=projects/DensePose
git+https://github.com/Stability-AI/stable-audio-tools.git