edge-tts
openai-whisper
huggingface_hub
transformers
einops
face_utils
peft
DeepCache
tomesd
omegaconf
gradio
fastapi
uvicorn
numpy
scipy
timm
emoji
nudenet
optimum
imageio[ffmpeg]
insightface
ip_adapter
trimesh
pygltflib
mediapipe
civitdl
torchsde
librosa
moviepy
feedparser
pdfrw
pytubefix
googlesearch-python
bs4
protobuf
pydantic
ffmpeg-python
mega.py
demucs


#Era3D requirements
# segment_anything
# icecream

# RVC requirements
# gtts
# elevenlabs
# stftpitchshift==1.5.1
# torchcrepe
# setuptools
# wheel
# httpx
# faiss-gpu
# fairseq
# ffmpeg-python
# praat-parselmouth
# pyworld
# i18n
# numba==0.56.4
# mega.py
# gdown
# onnxruntime
# pyngrok==4.1.12

#PuLID requirements
# basicsr
# facexlib
# ftfy
# apex

#VADER
# decord
# inflect
# -e git+https://github.com/tgxs002/HPSv2.git#egg=hpsv2
# bitsandbytes==0.43.*
# open_clip_torch==2.22.0

# Pano360 requirements
# git+https://github.com/doevent/Real-ESRGAN.git
# git+https://github.com/XPixelGroup/BasicSR.git

#TTS requirements
spacy @ git+https://github.com/explosion/spaCy.git
num2words
mutagen
coqpit
trainer
pypinyin
hangul_romanize
faster_whisper

# metavoice requirements
tyro
deepfilternet

#LGM requirements
kiui
rembg
roma
plyfile

# diffusers==0.29.0
git+https://github.com/huggingface/diffusers.git
git+https://github.com/Stability-AI/stable-audio-tools.git

# Windows only
tensorflow-cpu; platform_system == "Windows"
tensorflow-directml-plugin==0.4.0.dev230202; platform_system == "Windows"
torch_scatter @ https://data.pyg.org/whl/torch-2.2.0%2Bcu121/torch_scatter-2.1.2%2Bpt22cu121-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"
torch_cluster @ https://data.pyg.org/whl/torch-2.2.0%2Bcu121/torch_cluster-1.6.3%2Bpt22cu121-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"

# Linux only
deepspeed; platform_system == "Linux"
tensorflow; platform_system == "Linux"

# MeshGPT requirements
# git+https://github.com/MarcusLoppe/meshgpt-pytorch.git
# git+https://github.com/vork/PyNanoInstantMeshes.git
# gpytoolbox
# slangtorch
# setuptools==69.5.1