torch
numpy<2.0.0
wheel
scikit_build_core
transformers
torchaudio
torchvision
xformers
accelerate
fastapi
uvicorn
gradio
insightface
mediapipe
opencv-python-headless
peft
nudenet
emoji
imageio[ffmpeg]
rembg[gpu]
moviepy
soundfile
demucs
librosa
trimesh
pygltflib
omegaconf
pytubefix
edge_tts
pdfrw
bs4
feedparser

# splat
kiui
tyro
roma
plyfile

deepspeed; platform_system == "Linux"
