# put anything here that needs other requirements to build wheels
git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git # requires diffusers

#TSR requirements
git+https://github.com/tatsy/torchmcubes.git

# DensePose
git+https://github.com/facebookresearch/detectron2@main#subdirectory=projects/DensePose