uvicorn
fastapi
gradio
huggingface_hub
imageio[ffmpeg]
numpy==1.23.5
albumentations==1.3.1
onnx==1.12.0
onnxruntime==1.19.0
onnxruntime-gpu==1.19.0
fvcore==0.1.5.post20221221
pydantic
scipy
transformers
face_utils
insightface
mediapipe==0.10.11
moviepy
trimesh
peft
edge-tts
openai-whisper
einops
DeepCache
tomesd
omegaconf==2.3.0
timm
emoji
nudenet
optimum
ip_adapter
pygltflib
civitdl
torchsde
librosa==0.9.2
pdfrw==0.4
feedparser==6.0.11
pytubefix==6.7.0
googlesearch-python==1.2.4
bs4==0.0.2
protobuf==3.19.6
ffmpeg-python==0.2.0
mega.py==1.0.8
demucs==4.0.1
pathlib==1.0.1
piano-transcription-inference==0.0.5

#Era3D requirements
# segment_anything
# icecream

# RVC requirements
# gtts
# elevenlabs
# stftpitchshift==1.5.1
# torchcrepe
# setuptools
# wheel
# httpx
# faiss-gpu
# fairseq
# ffmpeg-python
# praat-parselmouth
# pyworld
# i18n
# numba==0.56.4
# mega.py
# gdown
# pyngrok==4.1.12

#PuLID requirements
# basicsr
# facexlib
# ftfy
# apex

#VADER
# decord
# inflect
# -e git+https://github.com/tgxs002/HPSv2.git#egg=hpsv2
# bitsandbytes==0.43.*
# open_clip_torch==2.22.0

# Pano360 requirements
# git+https://github.com/doevent/Real-ESRGAN.git
# git+https://github.com/XPixelGroup/BasicSR.git

# LivePortrait requirements
tyro==0.8.10

#LGM requirements
kiui==0.2.11
roma==1.5.0
plyfile==1.0.3
rembg[gpu,cli]==2.0.57

#VFusion3D requirements
# PyMCubes

#Densepose requirements
fvcore==0.1.5.post20221221
# pycocotools

git+https://github.com/huggingface/diffusers.git
# git+https://github.com/mobiusml/hqq # for flux.1 4-bit loader

# Windows only
tensorflow-cpu; platform_system == "Windows"
tensorflow-directml-plugin==0.4.0.dev230202; platform_system == "Windows"
torch_scatter @ https://data.pyg.org/whl/torch-2.2.0%2Bcu121/torch_scatter-2.1.2%2Bpt22cu121-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"
torch_cluster @ https://data.pyg.org/whl/torch-2.2.0%2Bcu121/torch_cluster-1.6.3%2Bpt22cu121-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"

# Linux only
deepspeed; platform_system == "Linux"
tensorflow==2.10; platform_system == "Linux"

# MeshGPT requirements
# git+https://github.com/MarcusLoppe/meshgpt-pytorch.git
# git+https://github.com/vork/PyNanoInstantMeshes.git
# gpytoolbox
# slangtorch
# setuptools==69.5.1