--extra-index-url https://download.pytorch.org/whl/cu124

triton; platform_system == "Linux"
triton-windows; platform_system == "Windows"
deepspeed==0.16.4
huggingface-hub
hf-xet
numpy<2.0.0
torch==2.6.0+cu124
transformers<4.52 # XTTS requires <4.52 for now
torchaudio
torchvision
diffusers
peft
insightface
albumentations==1.3.1 #insightface
wheel
accelerate
fastapi
uvicorn
gradio
imageio[ffmpeg]
rembg[gpu]
opencv-python-headless
nudenet
emoji
moviepy
soundfile
demucs
mediapipe==0.10.9
librosa==0.11.0
symusic==0.5.7
trimesh==4.6.8
pygltflib
omegaconf
edge_tts
pdfrw
bs4
feedparser
pedalboard
pytubefix
yt_dlp
pypinyin
hangul_romanize
scikit_build_core

# CodeFormer
lpips

# MMAudio
torchdiffeq
open_clip_torch>=2.29.0

# LatentSync
# decord
# face_alignment

# Moondream
pyvips

# TTS
#git+https://github.com/monofy-org/TTS.git
coqui-tts
cutlet
mecab-python3==1.0.6
mutagen
unidic-lite

# splat
kiui
tyro
roma
plyfile==1.1

#Hunyuan3d-2
diso==0.1.4
pymeshlab==2023.12.post3
pybind11
xatlas

#stable-audio
torchsde==0.2.6

#ACE-Step
loguru
py3langid
pytorch_lightning #training

#YuEGP
# mmgp==3.1.4-post15
# descript-audiotools>=0.7.2
# descript-audio-codec
